fastapi
uvicorn
supabase==2.20.0
storage3==2.20.0
supabase-auth==2.20.0
postgrest==2.20.0
pydantic-settings
python-dotenv
python-multipart
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
watchfiles
psycopg2-binary